
.navbar-brand{
    top: 30px;
    left: 50px;
    width: 211px;
    height: 48px;
    opacity: 1;
}
.header-right-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-right-part img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
}
.header-right-part span{
    font-size: 14px;
    font-weight: bold;
    color: #072635;
}
.header-right-part p{
    color: #707070;
    font-size: 14px;
}
.nav-item .nav-link{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #072635 !important;
    font-weight: 600;
    font-size: 13px;
}
.nav-item .nav-link img{
    width: 15px;
    height: 17px;
}
.nav-item{
    margin-right: 10px;
}
.settings-img{
    margin-left: 25px;
    margin-right: 25px;
}
.navbar{
    background-color: #fff;
    border-radius: 50px;
}
.nav-link.active{
    background: #01F0D0 !important;
    border-radius: 50px;
    min-width: 120px;
    align-items: center;
    justify-content: center;
}
.section-heading{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.patient-item{
    display: flex;
    align-items: center;
    color: #000;
    padding: 15px;
}
.patient-item img{
    margin-right: 10px;
}
.patient-item p{
    color: #072635;
    font-weight: 600;
    font-size: 13px;
}
.patient-item span{
    color: #707070;
    font-size: 13px;
}
.header-bottom-section{
    margin-top: 30px !important;
}
.template-main-section{
    background-color: #F6F7F8;
    padding: 20px;
}
.patients-list{
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
}
.patient-item >div{
    line-height: 15px;
}
.patients-heading-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 15px;
}
.chart-section-sub-heading{
    display: flex;
    justify-content: space-between;
}
.circle{
    background-color: #E66FD2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-right: 4px;
}
.circle-text{
    font-size: 16px;
    font-weight: 600;
}
.status-section{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sistolic-value{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0px;
}
.sistolic-section{
    border-bottom: 1px solid rgb(185, 180, 180);
    padding-bottom: 15px;
}
.circle.diastolic{
    background-color: #8C6FE6;
}
.diastolic-section{
    padding-top: 15px;
}
.diagnosis-history-section{
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
}
.average-status{
    font-size: 12px;
}
.bp-text{
    font-weight: 700;
    font-size: 15px;
    margin-left: 16px !important;
}
.line-chart-section{
    background-color: #F4F0FE;
    padding: 15px 10px 0px 10px;
    border-radius: 15px;
    margin-bottom: 15px ! IMPORTANT;
}
.body-condition-heading{
    font-size: 15px;
    color: #072635;
    margin-bottom: 0px;
    margin-top: 10px;
}
.condition-count{
    font-size: 21px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 12px;
    line-height: 20px;
}
.condition-status{
    margin: 0px;
    font-size: 13px;
}
.body-part{
    background-color: #E0F3FA;
    padding: 15px;
    border-radius: 15px;
}
.temp-sec{
    background-color: #FFE6E9;
}

.table-wrapper {
    width: 100%;
    overflow: hidden;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table thead th:first-child {
    border-radius: 50px 0 0 50px;
}

.table thead th:last-child {
    border-radius: 0px 50px 50px 0;
}

.table thead th {
    background-color: #F6F7F8;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.table tbody {
    display: block;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%; 
    table-layout: fixed;
}

.table tbody tr td {
    font-size: 13px;
    padding: 8px;
}

.table tbody tr:first-child td{
    border-top: 0px;
}

.line-chart-section text{
    transform: none;
}
.apexcharts-xaxis{
    transform: translate(10px, 0px);
}
.apexcharts-xaxis tspan{
    font-size: 10px;
    font-weight: 500;
}
.last-months{
    font-size: 13px;
}
#chart .apexcharts-xaxis-tick{
    display: none;
}
.body-part .body-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-details-section{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 35px;
}
.user-details-img-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-sec{
    display: flex;
    gap: 11px;  
    align-items: center;
}
.personal-sec img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-name{
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 33px;
}
.dob-text{
    font-size: 13px;
}
.per-ans{
    font-size: 14px;
    font-weight: 600;
}
.dob-text-sec{
    line-height: 18px;
}
.show-all-info-btn{
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    background-color: #01F0D0;
    border: unset;
    padding: 5px 17px;
}
.lab-results ul{
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;
    max-height: 150px;
    overflow: auto;
    padding-right: 10px;
}
.lab-results ul li{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.report-name{
    margin: 0px;
}
.report-img{
    width: 20px;
    height: 20px;
}
.lab-results-section{
    background-color: #fff;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 50px;
}
.ct-scan{
    background-color: #F6F7F8;
}
.personal-sec{
    margin-bottom: 16px;
}
.lab-results ul::-webkit-scrollbar,
.tbodyElement::-webkit-scrollbar {
    width: 4px;        
}
.lab-results ul::-webkit-scrollbar-thumb,
.tbodyElement::-webkit-scrollbar-thumb {
background-color: #030000;  
border-radius: 10px; 
}
.lab-results ul::-webkit-scrollbar-track,
.tbodyElement::-webkit-scrollbar-track {
background-color: #f1f1f1;
border-radius: 10px;
}
.selected-patient{
    background-color: #D8FCF7;
}
